* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #FEFB64;
  border-radius: 15px;
}
header .carrito {
  display: none;
}
header .carrito-abierto {
  position: sticky;
  top: 300px;
  z-index: 2;
  background-color: #72BB53;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
header .carrito-abierto div {
  background-color: #FF6624;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
header .carrito-abierto div h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  font-size: x-large;
  color: #FEFB64;
  border-radius: 15px;
}
header .carrito-abierto div button {
  background-color: #FF6624;
  outline: none;
  border: none;
}
header .carrito-abierto div button .fa-regular {
  color: #FEFB64;
  font-size: 25px;
}
header .carrito-abierto div ul {
  list-style: none;
}
header .carrito-abierto div ul li {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  font-size: x-large;
  color: #FEFB64;
}
header .carrito-abierto div ul .total {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
header .carrito-abierto div ul .total div {
  padding: 0;
}
header .carrito-abierto div ul .total div p {
  padding: 0;
}
header nav {
  display: flex;
  justify-content: space-around;
  background-color: #FF6624;
  padding: 20px;
}
header nav div a img {
  width: 100px;
  height: 100px;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
header nav ul a {
  padding: 20px;
  text-decoration: none;
  align-content: center;
}
header nav ul a li {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
}
header nav ul button {
  padding: 20px;
  text-decoration: none;
  align-content: center;
  background-color: #FF6624;
  outline: none;
  border: none;
}
header nav ul button li {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
}

#menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax 600px, 1fr);
  padding: 50px;
  background-color: #FEFB64;
}
#menu .menu-layout .layout-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}
#menu .menu-layout .layout-titulo div h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FF6624;
}
#menu .menu-layout .layout-titulo div .fa-solid {
  font-size: 50px;
  color: #72BB53;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}
#menu .menu-layout .layout-box-titulo div {
  display: flex;
  justify-content: space-around;
}
#menu .menu-layout .layout-box-titulo div .box {
  padding: 20px;
}
#menu .menu-layout .layout-box-titulo div .box div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu .menu-layout .layout-box-titulo div .box div h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FF6624;
}
#menu .menu-layout .layout-box-titulo div .box div h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #4DD7FA;
}
#menu .menu-layout .layout-box-titulo div .box div .fa-solid {
  font-size: 50px;
  color: #72BB53;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}
#menu .menu-layout div .layout-box {
  display: flex;
  justify-content: space-around;
}
#menu .menu-layout div .layout-box .box {
  padding: 20px;
}
#menu .menu-layout div .layout-box .box div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu .menu-layout div .layout-box .box div ul li {
  list-style: none;
  color: #FF6624;
  font-family: "DM Sans", sans-serif;
  font-weight: 1000;
  font-size: x-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  padding: 20px;
}
#menu .menu-layout div .layout-box .box div button {
  outline: none;
  border: none;
  border-radius: 15px;
  color: #FEFB64;
  background-color: #FF6624;
  font-family: "DM Sans", sans-serif;
  font-weight: 1000;
  font-size: larger;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  padding: 10px;
}
#menu .menu-layout div .layout-box .box div h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FF6624;
}
#menu .menu-layout div .layout-box .box div h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #4DD7FA;
}
#menu .menu-layout div .layout-box .box div .fa-solid {
  font-size: 50px;
  color: #72BB53;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}

#licores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax 600px, 1fr);
  padding: 50px;
  background-color: #E2EE79;
}
#licores .licores-layout .layout-titulo-licores {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}
#licores .licores-layout .layout-titulo-licores div h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FF6624;
}
#licores .licores-layout .layout-titulo-licores div .fa-solid {
  font-size: 50px;
  color: #4DD7FA;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}
#licores .licores-layout .layout-box-titulo-licores div {
  display: flex;
  justify-content: space-around;
}
#licores .licores-layout .layout-box-titulo-licores div .box-licores {
  padding: 20px;
}
#licores .licores-layout .layout-box-titulo-licores div .box-licores div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#licores .licores-layout .layout-box-titulo-licores div .box-licores div h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FF6624;
}
#licores .licores-layout .layout-box-titulo-licores div .box-licores div .fa-solid {
  font-size: 50px;
  color: #4DD7FA;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}
#licores .licores-layout div .layout-box-licores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
}
#licores .licores-layout div .layout-box-licores .box-licores {
  padding: 20px;
}
#licores .licores-layout div .layout-box-licores .box-licores div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#licores .licores-layout div .layout-box-licores .box-licores div ul li {
  list-style: none;
  color: #FF6624;
  font-family: "DM Sans", sans-serif;
  font-weight: 1000;
  font-size: x-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  padding: 20px;
}
#licores .licores-layout div .layout-box-licores .box-licores div button {
  outline: none;
  border: none;
  border-radius: 15px;
  color: #FEFB64;
  background-color: #FF6624;
  font-family: "DM Sans", sans-serif;
  font-weight: 1000;
  font-size: larger;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  padding: 10px;
}
#licores .licores-layout div .layout-box-licores .box-licores div h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FF6624;
}
#licores .licores-layout div .layout-box-licores .box-licores div h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #4DD7FA;
}
#licores .licores-layout div .layout-box-licores .box-licores div .fa-solid {
  font-size: 50px;
  color: #72BB53;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}

#nosotros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax 600px, 1fr);
  background-color: #72BB53;
  padding: 30px;
}
#nosotros .nosotros-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  align-items: center;
  background-color: rgba(254, 251, 100, 0.5921568627);
  border-radius: 30px;
}
#nosotros .nosotros-card h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
  padding: 10px;
}
#nosotros .nosotros-card p {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #4DD7FA;
  padding: 10px;
}
#nosotros .nosotros-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  row-gap: 10px;
}
#nosotros .nosotros-content img {
  width: 900px;
  border-radius: 20px;
}
#nosotros .nosotros-content iframe {
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #E2EE79;
}
footer .gusta-bistro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
footer .gusta-bistro img {
  width: 100px;
  border-radius: 20px;
}
footer .gusta-bistro p {
  font-style: "DM Sans", sans-serif;
  font-size: large;
  font-weight: 900;
  color: #FF6624;
  padding: 20px;
}
footer .redes-credito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer .redes-credito div {
  display: flex;
  justify-content: space-between;
}
footer .redes-credito div .fa-brands {
  font-size: 50px;
  padding: 20px;
  color: #FF6624;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}

#ordenes {
  padding: 20px;
  background-color: #FEFB64;
}
#ordenes .titulo-ordenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E2EE79;
  border-radius: 40px;
}
#ordenes .titulo-ordenes h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FF6624;
  padding: 50px;
}
#ordenes #hamburguesas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF6624;
  border-radius: 40px;
  margin: 30px;
}
#ordenes #hamburguesas h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
  padding: 50px;
}
#ordenes #hamburguesas .menu-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
}
#ordenes #hamburguesas .menu-catalogo .menu-card {
  position: relative;
}
#ordenes #hamburguesas .menu-catalogo .menu-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
  margin: 20px;
  overflow: hidden;
}
#ordenes #hamburguesas .menu-catalogo .menu-card .card-text {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  margin: 20px;
  background-color: rgba(187, 112, 83, 0.1647058824);
}
#ordenes #hamburguesas .menu-catalogo .menu-card .card-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #fefb64;
  text-align: center;
}
#ordenes #pastas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF6624;
  border-radius: 40px;
  margin: 30px;
}
#ordenes #pastas h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
  padding: 50px;
}
#ordenes #pastas .menu-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
}
#ordenes #pastas .menu-catalogo .menu-card {
  position: relative;
}
#ordenes #pastas .menu-catalogo .menu-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
  margin: 20px;
  overflow: hidden;
  transition: 0.5;
}
#ordenes #pastas .menu-catalogo .menu-cardhover .card-text {
  transform: scale(1);
}
#ordenes #pastas .menu-catalogo .menu-card .card-text {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  margin: 20px;
  background-color: rgba(187, 112, 83, 0.1960784314);
  transform: scale(1);
}
#ordenes #pastas .menu-catalogo .menu-card .card-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #fefb64;
  text-align: center;
}
#ordenes #pizzas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF6624;
  border-radius: 40px;
  margin: 30px;
}
#ordenes #pizzas h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
  padding: 50px;
}
#ordenes #pizzas .menu-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
}
#ordenes #pizzas .menu-catalogo .menu-card {
  position: relative;
}
#ordenes #pizzas .menu-catalogo .menu-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
  margin: 20px;
  overflow: hidden;
  transition: 0.5;
}
#ordenes #pizzas .menu-catalogo .menu-cardhover .card-text {
  transform: scale(1);
}
#ordenes #pizzas .menu-catalogo .menu-card .card-text {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  margin: 20px;
  background-color: rgba(187, 112, 83, 0.1960784314);
  transform: scale(1);
}
#ordenes #pizzas .menu-catalogo .menu-card .card-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #fefb64;
  text-align: center;
}
#ordenes #vinos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #72BB53;
  border-radius: 40px;
  margin: 30px;
}
#ordenes #vinos h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
  padding: 50px;
}
#ordenes #vinos .menu-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
}
#ordenes #vinos .menu-catalogo .menu-card {
  position: relative;
}
#ordenes #vinos .menu-catalogo .menu-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
  margin: 20px;
  overflow: hidden;
  transition: 0.5;
}
#ordenes #vinos .menu-catalogo .menu-cardhover .card-text {
  transform: scale(1);
}
#ordenes #vinos .menu-catalogo .menu-card .card-text {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  margin: 20px;
  background-color: rgba(114, 187, 83, 0.1607843137);
  transform: scale(1);
}
#ordenes #vinos .menu-catalogo .menu-card .card-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #fefb64;
  text-align: center;
}
#ordenes #cervezas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #72BB53;
  border-radius: 40px;
  margin: 30px;
}
#ordenes #cervezas h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
  padding: 50px;
}
#ordenes #cervezas .menu-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
}
#ordenes #cervezas .menu-catalogo .menu-card {
  position: relative;
}
#ordenes #cervezas .menu-catalogo .menu-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
  margin: 20px;
  overflow: hidden;
  transition: 0.5;
}
#ordenes #cervezas .menu-catalogo .menu-cardhover .card-text {
  transform: scale(1);
}
#ordenes #cervezas .menu-catalogo .menu-card .card-text {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  margin: 20px;
  background-color: rgba(114, 187, 83, 0.1176470588);
  transform: scale(1);
}
#ordenes #cervezas .menu-catalogo .menu-card .card-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #fefb64;
  text-align: center;
}
#ordenes #cocteles {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #72BB53;
  border-radius: 40px;
  margin: 30px;
}
#ordenes #cocteles h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
  padding: 50px;
}
#ordenes #cocteles .menu-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
}
#ordenes #cocteles .menu-catalogo .menu-card {
  position: relative;
}
#ordenes #cocteles .menu-catalogo .menu-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
  margin: 20px;
  overflow: hidden;
  transition: 0.5;
}
#ordenes #cocteles .menu-catalogo .menu-cardhover .card-text {
  transform: scale(1);
}
#ordenes #cocteles .menu-catalogo .menu-card .card-text {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  margin: 20px;
  background-color: rgba(114, 187, 83, 0.1215686275);
  transform: scale(1);
}
#ordenes #cocteles .menu-catalogo .menu-card .card-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #fefb64;
  text-align: center;
}

@media (max-width: 1180px) {
  #menu {
    padding: 20px;
  }
  #menu .menu-layout .layout-titulo {
    padding: 40px;
  }
  #menu .menu-layout .layout-titulo div h1 {
    font-size: x-large;
  }
  #menu .menu-layout .layout-titulo div .fa-solid {
    font-size: 40px;
  }
  #menu .menu-layout .layout-box-titulo div {
    display: flex;
    justify-content: space-around;
  }
  #menu .menu-layout .layout-box-titulo div .box div h2 {
    font-size: x-large;
  }
  #menu .menu-layout .layout-box-titulo div .box div .fa-solid {
    font-size: 40px;
  }
  #menu .menu-layout div .layout-box .box div ul li {
    font-size: large;
    padding: 5px;
  }
  #licores {
    padding: 20px;
  }
  #licores .licores-layout .layout-titulo-licores {
    padding: 40px;
  }
  #licores .licores-layout .layout-titulo-licores div h3 {
    font-size: x-large;
  }
  #licores .licores-layout .layout-titulo-licores div .fa-solid {
    font-size: 40px;
  }
  #licores .licores-layout .layout-box-titulo-licores div .box-licores div h3 {
    font-size: x-large;
  }
  #licores .licores-layout .layout-box-titulo-licores div .box-licores div .fa-solid {
    font-size: 40px;
  }
  #licores .licores-layout div .layout-box-licores .box-licores div ul li {
    font-size: large;
    padding: 5px;
  }
  #nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #nosotros div .nosotros-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #ordenes #hamburguesas .menu-catalogo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #ordenes #pastas .menu-catalogo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #ordenes #pizzas .menu-catalogo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #ordenes #vinos .menu-catalogo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #ordenes #cervezas .menu-catalogo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #ordenes #cocteles .menu-catalogo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
@media (max-width: 900px) {
  header .carrito-abierto {
    padding: 10px;
  }
  header .carrito-abierto div {
    padding: 10px;
  }
  header .carrito-abierto div h2 {
    font-size: larger;
  }
  header .carrito-abierto div button .fa-regular {
    font-size: 25px;
  }
  header .carrito-abierto div ul li {
    font-size: larger;
  }
  header nav ul a li {
    font-size: large;
  }
  #licores .licores-layout .layout-titulo-licores {
    padding: 10px;
  }
  #licores .licores-layout .layout-box-titulo-licores {
    padding: 10px;
  }
  #licores .licores-layout .layout-box-titulo-licores div {
    justify-content: space-evenly;
  }
  #licores .licores-layout .layout-box-titulo-licores div .box-licores {
    padding: 0;
  }
  #licores .licores-layout div .layout-box-licores {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
  }
  #licores .licores-layout div .layout-box-licores .box-licores {
    padding: 0;
  }
  #nosotros div .nosotros-content div img {
    width: 500px;
  }
}
@media (max-width: 700px) {
  header .carrito-abierto {
    padding: 10px;
  }
  header .carrito-abierto div {
    padding: 10px;
  }
  header .carrito-abierto div h2 {
    font-size: larger;
  }
  header .carrito-abierto div button .fa-regular {
    font-size: 25px;
  }
  header .carrito-abierto div ul li {
    font-size: larger;
  }
  #menu .menu-layout .layout-titulo {
    padding: 10px;
  }
  #menu .menu-layout .layout-titulo div h1 {
    font-size: x-large;
  }
  #menu .menu-layout .layout-titulo div .fa-solid {
    font-size: 40px;
  }
  #menu .menu-layout .layout-box-titulo {
    padding: 10px;
  }
  #menu .menu-layout .layout-box-titulo div {
    justify-content: space-between;
  }
  #menu .menu-layout .layout-box-titulo div .box {
    padding: 0;
  }
  #menu .menu-layout div .layout-box {
    flex-direction: column;
    align-items: center;
  }
  #menu .menu-layout div .layout-box .box {
    padding: 0;
  }
  #licores .licores-layout .layout-titulo-licores div h3 {
    font-size: x-large;
  }
  #licores .licores-layout .layout-titulo-licores div .fa-solid {
    font-size: 40px;
  }
  #licores .licores-layout .layout-box-titulo-licores div .box-licores div h3 {
    font-size: x-large;
  }
  #licores .licores-layout .layout-box-titulo-licores div .box-licores div .fa-solid {
    font-size: 40px;
  }
  #licores .licores-layout div .layout-box-licores {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 630px) {
  header nav {
    padding: 5px;
  }
  header nav div a img {
    width: 60px;
    height: 60px;
  }
  header nav ul a {
    padding: 5px;
  }
  header nav ul a li {
    font-size: medium;
  }
  #menu .menu-layout .layout-box-titulo {
    padding: 10px;
  }
  #menu .menu-layout .layout-box-titulo div {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 520px) {
  header .carrito-abierto {
    padding: 10px;
  }
  header .carrito-abierto div {
    padding: 10px;
  }
  header .carrito-abierto div h2 {
    font-size: larger;
  }
  header .carrito-abierto div button .fa-regular {
    font-size: 25px;
  }
  header .carrito-abierto div ul li {
    font-size: larger;
  }
  #nosotros div .nosotros-card h2 {
    font-size: large;
  }
  #nosotros div .nosotros-card p {
    font-size: large;
  }
  #nosotros div .nosotros-content div img {
    width: 420px;
  }
  #nosotros div .nosotros-content div iframe {
    width: 350px;
    height: 350px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #ordenes #hamburguesas .menu-catalogo .menu-card img {
    width: 300px;
    height: 200px;
  }
  #ordenes #hamburguesas .menu-catalogo .menu-card .card-text {
    width: 300px;
    height: 200px;
  }
  #ordenes #hamburguesas .menu-catalogo .menu-card .card-text p {
    font-size: x-large;
  }
  #ordenes #pastas .menu-catalogo .menu-card img {
    width: 300px;
    height: 200px;
  }
  #ordenes #pastas .menu-catalogo .menu-card .card-text {
    width: 300px;
    height: 200px;
  }
  #ordenes #pastas .menu-catalogo .menu-card .card-text p {
    font-size: x-large;
  }
  #ordenes #pizzas .menu-catalogo .menu-card img {
    width: 300px;
    height: 200px;
  }
  #ordenes #pizzas .menu-catalogo .menu-card .card-text {
    width: 300px;
    height: 200px;
  }
  #ordenes #pizzas .menu-catalogo .menu-card .card-text p {
    font-size: x-large;
  }
  #ordenes #vinos .menu-catalogo .menu-card img {
    width: 300px;
    height: 200px;
  }
  #ordenes #vinos .menu-catalogo .menu-card .card-text {
    width: 300px;
    height: 200px;
  }
  #ordenes #vinos .menu-catalogo .menu-card .card-text p {
    font-size: x-large;
  }
  #ordenes #cervezas .menu-catalogo .menu-card img {
    width: 300px;
    height: 200px;
  }
  #ordenes #cervezas .menu-catalogo .menu-card .card-text {
    width: 300px;
    height: 200px;
  }
  #ordenes #cervezas .menu-catalogo .menu-card .card-text p {
    font-size: x-large;
  }
  #ordenes #cocteles .menu-catalogo .menu-card img {
    width: 300px;
    height: 200px;
  }
  #ordenes #cocteles .menu-catalogo .menu-card .card-text {
    width: 300px;
    height: 200px;
  }
  #ordenes #cocteles .menu-catalogo .menu-card .card-text p {
    font-size: x-large;
  }
}
@media (max-width: 430px) {
  header .carrito-abierto {
    padding: 10px;
  }
  header .carrito-abierto div {
    padding: 10px;
  }
  header .carrito-abierto div h2 {
    font-size: medium;
  }
  header .carrito-abierto div button .fa-regular {
    font-size: 25px;
  }
  header .carrito-abierto div ul li {
    font-size: medium;
  }
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  header nav div a img {
    width: 100px;
    height: 100px;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav ul a {
    padding: 5px;
  }
  header nav ul a li {
    font-size: large;
  }
  #licores .licores-layout .layout-box-titulo-licores div {
    flex-direction: column;
    align-items: center;
  }
  #nosotros div .nosotros-content div img {
    width: 350px;
  }
  #nosotros div .nosotros-content div iframe {
    width: 280px;
    height: 350px;
  }
  #ordenes {
    padding: 5px;
  }
  #ordenes #hamburguesas .menu-catalogo .menu-card img {
    width: 250px;
    height: 150px;
  }
  #ordenes #hamburguesas .menu-catalogo .menu-card .card-text {
    width: 250px;
    height: 150px;
  }
  #ordenes #pastas .menu-catalogo .menu-card img {
    width: 250px;
    height: 150px;
  }
  #ordenes #pastas .menu-catalogo .menu-card .card-text {
    width: 250px;
    height: 150px;
  }
  #ordenes #pizzas .menu-catalogo .menu-card img {
    width: 250px;
    height: 150px;
  }
  #ordenes #pizzas .menu-catalogo .menu-card .card-text {
    width: 250px;
    height: 150px;
  }
  #ordenes #vinos .menu-catalogo .menu-card img {
    width: 250px;
    height: 150px;
  }
  #ordenes #vinos .menu-catalogo .menu-card .card-text {
    width: 250px;
    height: 150px;
  }
  #ordenes #cervezas .menu-catalogo .menu-card img {
    width: 250px;
    height: 150px;
  }
  #ordenes #cervezas .menu-catalogo .menu-card .card-text {
    width: 250px;
    height: 150px;
  }
  #ordenes #cocteles .menu-catalogo .menu-card img {
    width: 250px;
    height: 150px;
  }
  #ordenes #cocteles .menu-catalogo .menu-card .card-text {
    width: 250px;
    height: 150px;
  }
  #ordenes .carrito-abierto {
    position: sticky;
    top: 300px;
    z-index: 2;
    background-color: #72BB53;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  #ordenes .carrito-abierto div {
    background-color: #FF6624;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  #ordenes .carrito-abierto div h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: xx-large;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
    color: #FEFB64;
    border-radius: 15px;
  }
  #ordenes .carrito-abierto div button {
    background-color: #FF6624;
    outline: none;
    border: none;
  }
  #ordenes .carrito-abierto div button .fa-regular {
    color: #FEFB64;
    font-size: 35px;
  }
  #ordenes .carrito-abierto div ul {
    list-style: none;
  }
  #ordenes .carrito-abierto div ul li {
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: xx-large;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
    color: #FEFB64;
  }
  #ordenes .carrito-abierto div ul .total {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  #ordenes .carrito-abierto div ul .total div {
    padding: 0;
  }
  #ordenes .carrito-abierto div ul .total div p {
    padding: 0;
  }
}
@media (max-width: 430px) and (max-width: 360px) {
  #ordenes #hamburguesas .menu-catalogo .menu-card img {
    width: 200px;
    height: 100px;
  }
  #ordenes #hamburguesas .menu-catalogo .menu-card .card-text {
    width: 200px;
    height: 100px;
  }
  #ordenes #pastas .menu-catalogo .menu-card img {
    width: 200px;
    height: 100px;
  }
  #ordenes #pastas .menu-catalogo .menu-card .card-text {
    width: 200px;
    height: 100px;
  }
  #ordenes #pizzas .menu-catalogo .menu-card img {
    width: 200px;
    height: 100px;
  }
  #ordenes #pizzas .menu-catalogo .menu-card .card-text {
    width: 200px;
    height: 100px;
  }
  #ordenes #vinos .menu-catalogo .menu-card img {
    width: 200px;
    height: 100px;
  }
  #ordenes #vinos .menu-catalogo .menu-card .card-text {
    width: 200px;
    height: 100px;
  }
  #ordenes #cervezas .menu-catalogo .menu-card img {
    width: 200px;
    height: 100px;
  }
  #ordenes #cervezas .menu-catalogo .menu-card .card-text {
    width: 200px;
    height: 100px;
  }
  #ordenes #cocteles .menu-catalogo .menu-card img {
    width: 200px;
    height: 100px;
  }
  #ordenes #cocteles .menu-catalogo .menu-card .card-text {
    width: 200px;
    height: 100px;
  }
}
@media (max-width: 430px) {
  #nosotros div .nosotros-content div img {
    width: 290gitpx;
  }
}
@media (min-width: 750px) and (max-width: 949px) {
  #ordenes {
    padding: 10px;
  }
  #ordenes #hamburguesas .menu-catalogo .menu-card img {
    width: 260px;
    height: 160px;
  }
  #ordenes #hamburguesas .menu-catalogo .menu-card .card-text {
    width: 260px;
    height: 160px;
  }
  #ordenes #hamburguesas .menu-catalogo .menu-card .card-text p {
    font-size: x-large;
  }
  #ordenes #pastas .menu-catalogo .menu-card img {
    width: 260px;
    height: 160px;
  }
  #ordenes #pastas .menu-catalogo .menu-card .card-text {
    width: 260px;
    height: 160px;
  }
  #ordenes #pastas .menu-catalogo .menu-card .card-text p {
    font-size: x-large;
  }
  #ordenes #pizzas .menu-catalogo .menu-card img {
    width: 260px;
    height: 160px;
  }
  #ordenes #pizzas .menu-catalogo .menu-card .card-text {
    width: 260px;
    height: 160px;
  }
  #ordenes #pizzas .menu-catalogo .menu-card .card-text p {
    font-size: x-large;
  }
  #ordenes #vinos .menu-catalogo .menu-card img {
    width: 260px;
    height: 160px;
  }
  #ordenes #vinos .menu-catalogo .menu-card .card-text {
    width: 260px;
    height: 160px;
  }
  #ordenes #vinos .menu-catalogo .menu-card .card-text p {
    font-size: x-large;
  }
  #ordenes #cervezas .menu-catalogo .menu-card img {
    width: 260px;
    height: 160px;
  }
  #ordenes #cervezas .menu-catalogo .menu-card .card-text {
    width: 260px;
    height: 160px;
  }
  #ordenes #cervezas .menu-catalogo .menu-card .card-text p {
    font-size: x-large;
  }
  #ordenes #cocteles .menu-catalogo .menu-card img {
    width: 260px;
    height: 160px;
  }
  #ordenes #cocteles .menu-catalogo .menu-card .card-text {
    width: 260px;
    height: 160px;
  }
  #ordenes #cocteles .menu-catalogo .menu-card .card-text p {
    font-size: x-large;
  }
}

/*# sourceMappingURL=style.css.map */
