* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}
header nav {
  display: flex;
  justify-content: space-around;
  background-color: #FF6624;
  padding: 20px;
}
header nav div a img {
  width: 100px;
  height: 100px;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
header nav ul a {
  padding: 20px;
  text-decoration: none;
  align-content: center;
}
header nav ul a li {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
}

#menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax 600px, 1fr);
  padding: 50px;
  background-color: #FEFB64;
}
#menu .menu-layout .layout-titulo {
  padding: 80px;
}
#menu .menu-layout .layout-titulo div h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FF6624;
}
#menu .menu-layout .layout-titulo div h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FF6624;
}
#menu .menu-layout .layout-titulo div h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #4DD7FA;
}
#menu .menu-layout .layout-titulo div .fa-solid {
  font-size: 50px;
  color: #72BB53;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}
#menu .menu-layout .layout-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}
#menu .menu-layout .layout-box .box {
  padding: 50px;
}
#menu .menu-layout .layout-box .box div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu .menu-layout .layout-box .box div ul li {
  list-style: none;
  color: #FF6624;
  font-family: "DM Sans", sans-serif;
  font-weight: 1000;
  font-size: x-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  padding: 20px;
}
#menu .menu-layout .layout-box .box div button {
  outline: none;
  border: none;
  border-radius: 15px;
  color: #FEFB64;
  background-color: #FF6624;
  font-family: "DM Sans", sans-serif;
  font-weight: 1000;
  font-size: larger;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  padding: 10px;
}
#menu .menu-layout .layout-box .box div h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FF6624;
}
#menu .menu-layout .layout-box .box div h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #4DD7FA;
}
#menu .menu-layout .layout-box .box div .fa-solid {
  font-size: 50px;
  color: #72BB53;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}
#menu .menu-layout .layout-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#licores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax 600px, 1fr);
  padding: 50px;
  background-color: #E2EE79;
}
#licores .licores-layout .layout-titulo-licores {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}
#licores .licores-layout .layout-titulo-licores div h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FF6624;
}
#licores .licores-layout .layout-titulo-licores div h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FF6624;
}
#licores .licores-layout .layout-titulo-licores div h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #4DD7FA;
}
#licores .licores-layout .layout-titulo-licores div .fa-solid {
  font-size: 50px;
  color: #FF6624;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}
#licores .licores-layout .layout-box-licores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}
#licores .licores-layout .layout-box-licores .box-licores {
  padding: 50px;
}
#licores .licores-layout .layout-box-licores .box-licores div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#licores .licores-layout .layout-box-licores .box-licores div ul li {
  list-style: none;
  color: #4DD7FA;
  font-family: "DM Sans", sans-serif;
  font-weight: 1000;
  font-size: x-large;
  padding: 20px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}
#licores .licores-layout .layout-box-licores .box-licores div button {
  outline: none;
  border: none;
  border-radius: 15px;
  color: #FEFB64;
  background-color: #FF6624;
  font-family: "DM Sans", sans-serif;
  font-weight: 1000;
  font-size: larger;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  padding: 10px;
}
#licores .licores-layout .layout-box-licores .box-licores div h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FF6624;
}
#licores .licores-layout .layout-box-licores .box-licores div h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #4DD7FA;
}
#licores .licores-layout .layout-box-licores .box-licores div .fa-solid {
  font-size: 50px;
  color: #FF6624;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}

#nosotros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax 600px, 1fr);
  background-color: #72BB53;
  padding: 30px;
}
#nosotros .nosotros-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  align-items: center;
  background-color: rgba(254, 251, 100, 0.5921568627);
  border-radius: 30px;
}
#nosotros .nosotros-card h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
  padding: 10px;
}
#nosotros .nosotros-card p {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #4DD7FA;
  padding: 10px;
}
#nosotros .nosotros-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  row-gap: 10px;
}
#nosotros .nosotros-content img {
  width: 900px;
  border-radius: 20px;
}
#nosotros .nosotros-content iframe {
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #E2EE79;
}
footer .gusta-bistro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
footer .gusta-bistro img {
  width: 100px;
  border-radius: 20px;
}
footer .gusta-bistro p {
  font-style: "DM Sans", sans-serif;
  font-size: large;
  font-weight: 900;
  color: #FF6624;
  padding: 20px;
}
footer .redes-credito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer .redes-credito div {
  display: flex;
  justify-content: space-between;
}
footer .redes-credito div .fa-brands {
  font-size: 50px;
  padding: 20px;
  color: #FF6624;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}

#ordenes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax 600px, 1fr);
  background-color: #FEFB64;
}
#ordenes .titulo-ordenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E2EE79;
}
#ordenes .titulo-ordenes h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FF6624;
  padding: 50px;
}
#ordenes #hamburguesas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF6624;
  border-radius: 40px;
  margin: 30px;
}
#ordenes #hamburguesas h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
  padding: 50px;
}
#ordenes #hamburguesas .menu-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}
#ordenes #hamburguesas .menu-catalogo .menu-card {
  position: relative;
}
#ordenes #hamburguesas .menu-catalogo .menu-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
  margin: 20px;
  overflow: hidden;
  transition: 0.5;
}
#ordenes #hamburguesas .menu-catalogo .menu-cardhover .card-text {
  transform: scale(1);
}
#ordenes #hamburguesas .menu-catalogo .menu-card .card-text {
  position: absolute;
  top: 0;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  margin: 20px;
  background-color: rgba(187, 112, 83, 0.1647058824);
  transform: scale(1);
}
#ordenes #hamburguesas .menu-catalogo .menu-card .card-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #fefb64;
  text-align: center;
}
#ordenes #pastas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF6624;
  border-radius: 40px;
  margin: 30px;
}
#ordenes #pastas h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
  padding: 50px;
}
#ordenes #pastas .menu-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}
#ordenes #pastas .menu-catalogo .menu-card {
  position: relative;
}
#ordenes #pastas .menu-catalogo .menu-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
  margin: 20px;
  overflow: hidden;
  transition: 0.5;
}
#ordenes #pastas .menu-catalogo .menu-cardhover .card-text {
  transform: scale(1);
}
#ordenes #pastas .menu-catalogo .menu-card .card-text {
  position: absolute;
  top: 0;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  margin: 20px;
  background-color: rgba(187, 112, 83, 0.1960784314);
  transform: scale(1);
}
#ordenes #pastas .menu-catalogo .menu-card .card-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #fefb64;
  text-align: center;
}
#ordenes #pizzas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF6624;
  border-radius: 40px;
  margin: 30px;
}
#ordenes #pizzas h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
  padding: 50px;
}
#ordenes #pizzas .menu-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}
#ordenes #pizzas .menu-catalogo .menu-card {
  position: relative;
}
#ordenes #pizzas .menu-catalogo .menu-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
  margin: 20px;
  overflow: hidden;
  transition: 0.5;
}
#ordenes #pizzas .menu-catalogo .menu-cardhover .card-text {
  transform: scale(1);
}
#ordenes #pizzas .menu-catalogo .menu-card .card-text {
  position: absolute;
  top: 0;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  margin: 20px;
  background-color: rgba(187, 112, 83, 0.1960784314);
  transform: scale(1);
}
#ordenes #pizzas .menu-catalogo .menu-card .card-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #fefb64;
  text-align: center;
}
#ordenes #vinos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #72BB53;
  border-radius: 40px;
  margin: 30px;
}
#ordenes #vinos h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
  padding: 50px;
}
#ordenes #vinos .menu-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}
#ordenes #vinos .menu-catalogo .menu-card {
  position: relative;
}
#ordenes #vinos .menu-catalogo .menu-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
  margin: 20px;
  overflow: hidden;
  transition: 0.5;
}
#ordenes #vinos .menu-catalogo .menu-cardhover .card-text {
  transform: scale(1);
}
#ordenes #vinos .menu-catalogo .menu-card .card-text {
  position: absolute;
  top: 0;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  margin: 20px;
  background-color: rgba(114, 187, 83, 0.1607843137);
  transform: scale(1);
}
#ordenes #vinos .menu-catalogo .menu-card .card-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #fefb64;
  text-align: center;
}
#ordenes #cervezas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #72BB53;
  border-radius: 40px;
  margin: 30px;
}
#ordenes #cervezas h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
  padding: 50px;
}
#ordenes #cervezas .menu-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}
#ordenes #cervezas .menu-catalogo .menu-card {
  position: relative;
}
#ordenes #cervezas .menu-catalogo .menu-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
  margin: 20px;
  overflow: hidden;
  transition: 0.5;
}
#ordenes #cervezas .menu-catalogo .menu-cardhover .card-text {
  transform: scale(1);
}
#ordenes #cervezas .menu-catalogo .menu-card .card-text {
  position: absolute;
  top: 0;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  margin: 20px;
  background-color: rgba(114, 187, 83, 0.1176470588);
  transform: scale(1);
}
#ordenes #cervezas .menu-catalogo .menu-card .card-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #fefb64;
  text-align: center;
}
#ordenes #cocteles {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #72BB53;
  border-radius: 40px;
  margin: 30px;
}
#ordenes #cocteles h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #FEFB64;
  padding: 50px;
}
#ordenes #cocteles .menu-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}
#ordenes #cocteles .menu-catalogo .menu-card {
  position: relative;
}
#ordenes #cocteles .menu-catalogo .menu-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
  margin: 20px;
  overflow: hidden;
  transition: 0.5;
}
#ordenes #cocteles .menu-catalogo .menu-cardhover .card-text {
  transform: scale(1);
}
#ordenes #cocteles .menu-catalogo .menu-card .card-text {
  position: absolute;
  top: 0;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  margin: 20px;
  background-color: rgba(114, 187, 83, 0.1215686275);
  transform: scale(1);
}
#ordenes #cocteles .menu-catalogo .menu-card .card-text p {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
  color: #fefb64;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
