* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$main-font:"DM Sans", sans-serif;
$yellow: #FEFB64;
$orange:#FF6624;
$blue: #4DD7FA;
$primary-green: #72BB53;
$secondary-green: #E2EE79;

@mixin font-style {
 font-family: $main-font;
 font-weight: 900;
 font-size:xx-large;
 text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}
@mixin grid-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (600px, 1fr));   
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 70px;
}
.carrito{
    display: none;
}
.carrito-abierto{
    position: sticky;
    top: 300px;
    z-index: 2;
    background-color: $primary-green;
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    div{
        background-color: $orange;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        margin: 10px;
        h2{
            @include font-style(); 
            color: $yellow;
            border-radius: 15px; 
        }
        button{
            background-color: $orange;
            outline: none;
            border: none;
           .fa-regular{
            color: $yellow;
            font-size: 35px;
           } 
        }
        ul{
            list-style: none;
            li{
                @include font-style();
                color: $yellow;
            }
            .total{
                display: flex;
                justify-content: space-between;
                padding: 0;
                div{
                    padding: 0;
                    p{
                        padding: 0;
                    }
                }
            }
        }
    }
}
header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: $yellow;
    border-radius: 15px;
    nav {
        display: flex;
        justify-content: space-around;
        background-color: $orange;
        padding: 20px;
        div {
            a{
            img{
                width: 100px;
                height: 100px;
            }
           }
          }
        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            a{
                padding: 20px;
                text-decoration: none;
                align-content: center;
                li{
                    @include font-style();
                    color: $yellow;
                }
            }
            button{
                padding: 20px;
            text-decoration: none;
            align-content: center;
            background-color: $orange;
            outline: none;
            border: none;
            li{
                @include font-style();
                color: $yellow;
            }
        }
        }
    }
}
#menu {
    @include grid-menu; 
    padding: 50px;
    background-color: $yellow;
.menu-layout{
    .layout-titulo{
        @include flex-column();
        padding: 80px;
        div {
            h1 {
                @include font-style();
                color: $orange;
            }
            .fa-solid {
              font-size: 50px;
              color: $primary-green;
              text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
            }
        }
    }
.layout-box-titulo{
    div{
        display: flex;
   justify-content: space-around;
        .box{
            padding: 20px;
            div {
            @include flex-column();  
                h2 {
                    @include font-style();
                    color: $orange;
                }
                h3 {
                    @include font-style();
                    color: $blue;
                }
                .fa-solid {
                  font-size: 50px;
                  color: $primary-green;
                  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
                }
            }
        } 
    }
}
    div{
        .layout-box {
         display: flex;
         justify-content: space-around;
          .box{
            padding: 20px;
            div {
            @include flex-column();
            ul{
                li{
                    list-style: none;
                    color: $orange;
                    font-family: $main-font;
                    font-weight: 1000;
                    font-size: x-large;
                    text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
                    padding: 20px;
                }
            }
            button {
                outline: none;
                border: none;
                border-radius: 15px;
                color: $yellow;
                background-color: $orange;
                font-family: $main-font;
                font-weight: 1000;
                font-size: larger;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
                padding: 10px;
            }
            h2 {
                @include font-style();
                color: $orange;
            }
            h3 {
                @include font-style();
                color: $blue;
            }
            .fa-solid {
                font-size: 50px;
                color: $primary-green;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
            }
            }
          } 
        }
    }
  }
}

#licores {
    @include grid-menu; 
    padding: 50px;
    background-color: $secondary-green;
.licores-layout{
    .layout-titulo-licores{
        @include flex-column();
        padding: 80px;
        div {
            h3 {
                @include font-style();
                color: $orange;
            }
            .fa-solid {
              font-size: 50px;
              color: $blue;
              text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
            }
        }
    }
.layout-box-titulo-licores{
    div{
        display: flex;
        justify-content: space-around;
        .box-licores{
            padding: 20px;
            div {
            @include flex-column();  
                h3 {
                    @include font-style();
                    color: $orange;
                }
                .fa-solid {
                  font-size: 50px;
                  color: $blue;
                  text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
                }
            }
        } 
    }
}
    div{
        .layout-box-licores {
            @include grid-layout();  
          .box-licores{
            padding: 20px;
            div {
            @include flex-column();
            ul{
                li{
                    list-style: none;
                    color: $orange;
                    font-family: $main-font;
                    font-weight: 1000;
                    font-size: x-large;
                    text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
                    padding: 20px;
                }
            }
            button {
                outline: none;
                border: none;
                border-radius: 15px;
                color: $yellow;
                background-color: $orange;
                font-family: $main-font;
                font-weight: 1000;
                font-size: larger;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
                padding: 10px;
            }
            h3 {
                @include font-style();
                color: $orange;
            }
            h3 {
                @include font-style();
                color: $blue;
            }
            .fa-solid {
                font-size: 50px;
                color: $primary-green;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
            }
            }
          } 
        }
    }
  }
}
#nosotros{
    @include grid-menu();
    background-color: $primary-green;
    padding: 30px;
    .nosotros-card {
        @include flex-column();
        padding: 30px;
        align-items: center;
        background-color:#fefb6497;
        border-radius: 30px;
        h2{
            @include font-style();
            color: $yellow;
            padding: 10px;
        }
        p {
            @include font-style();
            color: $blue;
            padding: 10px; 
        }
    }
    .nosotros-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
        row-gap: 10px;
            img{
                width: 900px;
                border-radius: 20px;
            }
        
        iframe {
            width: 400px;
            height: 500px;
            border-radius: 20px; 
        }
    }
}

footer {
   display: flex;
   justify-content: space-around;
   padding: 20px;
   background-color: $secondary-green;
   .gusta-bistro {
    @include flex-column();
    padding: 50px;
    img {
        width: 100px;
        border-radius: 20px;
        
    }
    p{
        font-style: $main-font;
        font-size: large;
        font-weight: 900;
        color: $orange;
        padding:20px;
    }
   } 
   .redes-credito{
    @include flex-column();
    justify-content: space-around;
    div{
        display: flex;
        justify-content: space-between;
        .fa-brands{
            font-size: 50px;
            padding: 20px;
            color: $orange;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.437);
        }
    }
   }
}
#ordenes {
    padding: 20px;
    background-color: $yellow;
    .titulo-ordenes {
@include flex-column();
background-color: #E2EE79;
border-radius: 40px;
h1 {
    @include font-style();
    color: $orange;
    padding: 50px;
}
    }
    #hamburguesas{
        @include flex-column();
        background-color: $orange;
        border-radius: 40px;
        margin: 30px;
        h2 {
            @include font-style();
            color: $yellow;
            padding: 50px;
        }
        .menu-catalogo{
            @include grid-layout();
            .menu-card{
                position: relative;
                img{
                    width: 350px;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 30px;
                    margin: 20px;
                    overflow: hidden;
                }
                .card-text {
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    width: 350px;
                    height: 250px;
                    border-radius: 30px;
                    margin: 20px;
                    background-color:#bb70532a;
                    p{
                        @include font-style();
                        color:#fefb64;
                        text-align: center;
                    }
                }
            }
        } 
    }
    #pastas{
        @include flex-column();
        background-color: $orange;
        border-radius: 40px;
        margin: 30px;
        h2 {
            @include font-style();
            color: $yellow;
            padding: 50px;
        }
        .menu-catalogo{
            @include grid-layout();
            .menu-card{
                position: relative;
                img{
                    width: 350px;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 30px;
                    margin: 20px;
                    overflow: hidden;
                    transition: 0.5;
                }
                &hover{
                    .card-text{
                        transform: scale(1);
                    }
                     
                }
                .card-text {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    width: 350px;
                    height: 250px;
                    border-radius: 30px;
                    margin: 20px;
                    background-color:#bb705332;
                    transform: scale(1);
                    p{
                        @include font-style();
                        color:#fefb64;
                        text-align: center;
                    }
                }
            }
        } 
    }
    #pizzas{
        @include flex-column();
        background-color: $orange;
        border-radius: 40px;
        margin: 30px;
        h2 {
            @include font-style();
            color: $yellow;
            padding: 50px;
        }
        .menu-catalogo{
            @include grid-layout();
            .menu-card{
                position: relative;
                img{
                    width: 350px;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 30px;
                    margin: 20px;
                    overflow: hidden;
                    transition: 0.5;
                }
                &hover{
                    .card-text{
                        transform: scale(1);
                    }
                     
                }
                .card-text {
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    width: 350px;
                    height: 250px;
                    border-radius: 30px;
                    margin: 20px;
                    background-color:#bb705332;
                    transform: scale(1);
                    p{
                        @include font-style();
                        color:#fefb64;
                        text-align: center;
                    }
                }
            }
        } 
    }
    #vinos{
        @include flex-column();
        background-color: $primary-green;
        border-radius: 40px;
        margin: 30px;
        h2 {
            @include font-style();
            color: $yellow;
            padding: 50px;
        }
        .menu-catalogo{
            @include grid-layout();
            .menu-card{
                position: relative;
                img{
                    width: 350px;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 30px;
                    margin: 20px;
                    overflow: hidden;
                    transition: 0.5;
                }
                &hover{
                    .card-text{
                        transform: scale(1);
                    }
                     
                }
                .card-text {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    width: 350px;
                    height: 250px;
                    border-radius: 30px;
                    margin: 20px;
                    background-color:#72bb5329;
                    transform: scale(1);
                    p{
                        @include font-style();
                        color:#fefb64;
                        text-align: center;
                    }
                }
            }
        } 
    }
    #cervezas{
        @include flex-column();
        background-color: $primary-green;
        border-radius: 40px;
        margin: 30px;
        h2 {
            @include font-style();
            color: $yellow;
            padding: 50px;
        }
        .menu-catalogo{
            @include grid-layout();
            .menu-card{
                position: relative;
                img{
                    width: 350px;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 30px;
                    margin: 20px;
                    overflow: hidden;
                    transition: 0.5;
                }
                &hover{
                    .card-text{
                        transform: scale(1);
                    }
                     
                }
                .card-text {
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    width: 350px;
                    height: 250px;
                    border-radius: 30px;
                    margin: 20px;
                    background-color:#72bb531e;
                    transform: scale(1);
                    p{
                        @include font-style();
                        color:#fefb64;
                        text-align: center;
                    }
                }
            }
        } 
    }
    #cocteles{
        @include flex-column();
        background-color: $primary-green;
        border-radius: 40px;
        margin: 30px;
        h2 {
            @include font-style();
            color: $yellow;
            padding: 50px;
        }
        .menu-catalogo{
            @include grid-layout();
            .menu-card{
                position: relative;
                img{
                    width: 350px;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 30px;
                    margin: 20px;
                    overflow: hidden;
                    transition: 0.5;
                }
                &hover{
                    .card-text{
                        transform: scale(1);
                    }
                     
                }
                .card-text {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    width: 350px;
                    height: 250px;
                    border-radius: 30px;
                    margin: 20px;
                    background-color: #72bb531f;
                    transform: scale(1);
                    p{
                        @include font-style();
                        color:#fefb64;
                        text-align: center;
                    }
                }
            }
        } 
    }
}
@media (max-width:1180px) {
    #menu {
        padding: 20px;
    .menu-layout{
        .layout-titulo{
            padding: 40px;
            div {
                h1 {
                font-size: x-large;
                }
                .fa-solid {
                  font-size: 40px;
                }
            }
        }  
        .layout-box-titulo{
            div{ display: flex;
                justify-content: space-around;
                .box{
                    div{
                        h2{
                            font-size: x-large;   
                        }
                        .fa-solid {
                            font-size: 40px;
                          }
                    }
                }
            }
        }
        div{
            .layout-box{
                .box{
                    div{
                        ul{
                            li{
                                font-size: large;
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
}
}

#licores {
    padding: 20px;
.licores-layout{
    .layout-titulo-licores{
        padding: 40px;
        div {
            h3 {
            font-size: x-large;
            }
            .fa-solid {
              font-size: 40px;
            }
        }
    }  
    .layout-box-titulo-licores{
        div{
            .box-licores{
                div{
                    h3{
                        font-size: x-large;   
                    }
                    .fa-solid {
                        font-size: 40px;
                      }
                }
            }
        }
    }
    div{
        .layout-box-licores{
            .box-licores{
                div{
                    ul{
                        li{
                            font-size: large;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
}
}
#nosotros{
    @include flex-column();
    div{
        .nosotros-content{
            @include flex-column();
        }
    }
}
#ordenes{
    #hamburguesas{
        .menu-catalogo{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
    #pastas{
        .menu-catalogo{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
    #pizzas{
        .menu-catalogo{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
    #vinos{
        .menu-catalogo{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
    #cervezas{
        .menu-catalogo{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
    #cocteles{
        .menu-catalogo{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
}
}
@media (max-width:900px){
    header {
nav{
    ul{
        a{
            li{
                font-size:large;
            }
        }
    }
}
}

#licores {
.licores-layout{
    .layout-titulo-licores{
        padding: 10px;
    }
    .layout-box-titulo-licores{
        padding: 10px;
        div{
    justify-content: space-evenly;
    .box-licores{
        padding: 0;
    }
        }
    }
    div{
        .layout-box-licores{
        display: flex;
        justify-content: space-evenly;
        padding: 5px;
        .box-licores{
            padding: 0;
        }
        }
    }
}
}
#nosotros{

    div{
        .nosotros-content{
            div{
                img{
                    width: 500px;
                }
            }
        }
    }
}
}

@media(max-width:700px){
    #menu {
    .menu-layout{
        .layout-titulo{
            padding: 10px;
            div {
                h1 {
                font-size: x-large;
                }
                .fa-solid {
                  font-size: 40px;
                }
            }
        }  
        .layout-box-titulo{
            padding: 10px;
            div{
                justify-content: space-between;
                .box{
                    padding: 0;
                }
            }
        }
        div{
            .layout-box{
                flex-direction: column;
                align-items: center;
                .box{
                    padding: 0;
                }
            }
        }
}
}

#licores {
.licores-layout{
    .layout-titulo-licores{
        div {
            h3 {
            font-size: x-large;
            }
            .fa-solid {
              font-size: 40px;
            }
        }
    }  
    .layout-box-titulo-licores{
        div{ 
            .box-licores{
                div{
                    h3{
                        font-size: x-large;   
                    }
                    .fa-solid {
                        font-size: 40px;
                      }
                }
            }
        }
    }
    div{
        .layout-box-licores{
            flex-direction: column;
            align-items: center;
        }
    }
}
}
}

@media(max-width:630px){
            header {
                nav{
                    padding: 5px;
                    div{
                        a{
                            img{
                                width: 60px;
                                height: 60px;   
                            }
                        }
                    }
                    ul{
                        a{
                            padding: 5px;
                            li{
                                font-size:medium;
                            }
                        }
                    }
                }
                }   
                #menu {
                    .menu-layout{
                        .layout-box-titulo{
                            padding: 10px;
                            div{
                                flex-direction: column;
                                align-items: center;
                            }
                        }
                }
                }                
        }
@media (max-width:520px){
    #nosotros{
        div{
            .nosotros-card{
                h2{
                  font-size: large
                }
                p {
                    font-size: large
                }
            }
        }
        div{
            .nosotros-content{
                div{
                    img{
                        width: 420px;
                    }
                    iframe{
                        width: 350px;
                        height: 350px; 
                    }
                }
            }
        }
    }
    footer{
        @include flex-column();
    }

    #ordenes{
        #hamburguesas{
            .menu-catalogo{
                .menu-card{
                    img{
                     width: 300px;
                     height: 200px;
                    }
                    .card-text{
                        width: 300px;
                        height: 200px;
                        p{
                            font-size: x-large;
                        }
                    }
                }
            }
        }
        #pastas{
            .menu-catalogo{
                .menu-card{
                    img{
                     width: 300px;
                     height: 200px;
                    }
                    .card-text{
                        width: 300px;
                        height: 200px;
                        p{
                            font-size: x-large;
                        }
                    }
                }
            }
        }
        #pizzas{
            .menu-catalogo{
                .menu-card{
                    img{
                     width: 300px;
                     height: 200px;
                    }
                    .card-text{
                        width: 300px;
                        height: 200px;
                        p{
                            font-size: x-large;
                        }
                    }
                }
            }
        }
        #vinos{
            .menu-catalogo{
                .menu-card{
                    img{
                     width: 300px;
                     height: 200px;
                    }
                    .card-text{
                        width: 300px;
                        height: 200px;
                        p{
                            font-size: x-large;
                        }
                    }
                }
            }
        }
        #cervezas{
            .menu-catalogo{
                .menu-card{
                    img{
                     width: 300px;
                     height: 200px;
                    }
                    .card-text{
                        width: 300px;
                        height: 200px;
                        p{
                            font-size: x-large;
                        }
                    }
                }
            }
        }
        #cocteles{
            .menu-catalogo{
                .menu-card{
                    img{
                     width: 300px;
                     height: 200px;
                    }
                    .card-text{
                        width: 300px;
                        height: 200px;
                        p{
                            font-size: x-large;
                        }
                    }
                }
            }
        }
    }
        }
@media(max-width:430px){
            header {
                nav{
                    @include flex-column();
                    padding: 5px;
                    div{
                        a{
                            img{
                                width: 100px;
                                height: 100px;   
                            }
                        }
                    }
                    ul{
                        @include flex-column();
                        a{
                            padding: 5px;
                            li{
                                font-size:large;
                            }
                        }
                    }
                }
                } 
            
                #licores {
                    .licores-layout{
                        .layout-box-titulo-licores{
                            div{
                                flex-direction: column;
                                align-items: center;
                            }
                        }
                    }
                    }
                    #nosotros{

                        div{
                            .nosotros-content{
                                div{
                                    img{
                                        width: 350px;
                                    }
                                    iframe{
                                        width: 280px;
                                        height: 350px; 
                                    }
                                }
                            }
                        }
                    }
                    #ordenes{
                        padding: 5px;
                        #hamburguesas{
                            .menu-catalogo{
                                .menu-card{
                                    img{
                                     width: 250px;
                                     height: 150px;
                                    }
                                    .card-text{
                                        width: 250px;
                                        height: 150px;
                                    }
                                }
                            }
                        }
                        #pastas{
                            .menu-catalogo{
                                .menu-card{
                                    img{
                                     width: 250px;
                                     height: 150px;
                                    }
                                    .card-text{
                                        width: 250px;
                                        height: 150px;
                                    }
                                }
                            }
                        }
                        #pizzas{
                            .menu-catalogo{
                                .menu-card{
                                    img{
                                     width: 250px;
                                     height: 150px;
                                    }
                                    .card-text{
                                        width: 250px;
                                        height: 150px;
                                    }
                                }
                            }
                        }
                        #vinos{
                            .menu-catalogo{
                                .menu-card{
                                    img{
                                     width: 250px;
                                     height: 150px;
                                    }
                                    .card-text{
                                        width: 250px;
                                        height: 150px;
                                    }
                                }
                            }
                        }
                        #cervezas{
                            .menu-catalogo{
                                .menu-card{
                                    img{
                                     width: 250px;
                                     height: 150px;
                                    }
                                    .card-text{
                                        width: 250px;
                                        height: 150px;
                                    }
                                }
                            }
                        }
                        #cocteles{
                            .menu-catalogo{
                                .menu-card{
                                    img{
                                     width: 250px;
                                     height: 150px;
                                    }
                                    .card-text{
                                        width: 250px;
                                        height: 150px;
                                    }
                                }
                            }
                        }   
                    }
        @media (max-width:360px){
            #ordenes{
                #hamburguesas{
                    .menu-catalogo{
                        .menu-card{
                            img{
                             width: 200px;
                             height: 100px;
                            }
                            .card-text{
                                width: 200px;
                                height: 100px;
                            }
                        }
                    }
                }
                #pastas{
                    .menu-catalogo{
                        .menu-card{
                            img{
                             width: 200px;
                             height: 100px;
                            }
                            .card-text{
                                width: 200px;
                                height: 100px;
                            }
                        }
                    }
                }
                #pizzas{
                    .menu-catalogo{
                        .menu-card{
                            img{
                             width: 200px;
                             height: 100px;
                            }
                            .card-text{
                                width: 200px;
                                height: 100px;
                            }
                        }
                    }
                }
                #vinos{
                    .menu-catalogo{
                        .menu-card{
                            img{
                             width: 200px;
                             height: 100px;
                            }
                            .card-text{
                                width: 200px;
                                height: 100px;
                            }
                        }
                    }
                }
                #cervezas{
                    .menu-catalogo{
                        .menu-card{
                            img{
                             width: 200px;
                             height: 100px;
                            }
                            .card-text{
                                width: 200px;
                                height: 100px;
                            }
                        }
                    }
                }
                #cocteles{
                    .menu-catalogo{
                        .menu-card{
                            img{
                             width: 200px;
                             height: 100px;
                            }
                            .card-text{
                                width: 200px;
                                height: 100px;
                            }
                        }
                    }
                }   
            }
        } 
        #nosotros{

            div{
                .nosotros-content{
                    div{
                        img{
                            width: 290gitpx;
                        }

                    }
                }
            }
        }           
        }
        @media (min-width:750px) and (max-width:949px){
            #ordenes{
                padding: 10px;
                #hamburguesas{
                    .menu-catalogo{
                        .menu-card{
                            img{
                             width: 260px;
                             height: 160px;
                            }
                            .card-text{
                                width: 260px;
                                height: 160px;
                                p{
                                    font-size: x-large;
                                }
                            }
                        }
                    }
                }
                #pastas{
                    .menu-catalogo{
                        .menu-card{
                            img{
                                width: 260px;
                                height: 160px;
                               }
                               .card-text{
                                   width: 260px;
                                   height: 160px;
                                   p{
                                    font-size: x-large;
                                }
                               }
                        }
                    }
                }
                #pizzas{
                    .menu-catalogo{
                        .menu-card{
                            img{
                                width: 260px;
                                height: 160px;
                               }
                               .card-text{
                                   width: 260px;
                                   height: 160px;
                                   p{
                                    font-size: x-large;
                                }
                               }
                        }
                    }
                }
                #vinos{
                    .menu-catalogo{
                        .menu-card{
                            img{
                                width: 260px;
                                height: 160px;
                               }
                               .card-text{
                                   width: 260px;
                                   height: 160px;
                                   p{
                                    font-size: x-large;
                                }
                               }
                        }
                    }
                }
                #cervezas{
                    .menu-catalogo{
                        .menu-card{
                            img{
                                width: 260px;
                                height: 160px;
                               }
                               .card-text{
                                   width: 260px;
                                   height: 160px;
                                   p{
                                    font-size: x-large;
                                }
                               }
                        }
                    }
                }
                #cocteles{
                    .menu-catalogo{
                        .menu-card{
                            img{
                                width: 260px;
                                height: 160px;
                               }
                               .card-text{
                                   width: 260px;
                                   height: 160px;
                                   p{
                                    font-size: x-large;
                                }
                               }
                        }
                    }
                }   
            }
        }            
        