* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$main-font:"DM Sans", sans-serif;
$yellow: #FEFB64;
$orange:#FF6624;
$blue: #4DD7FA;
$primary-green: #72BB53;
$secondary-green: #E2EE79;

@mixin font-style {
 font-family: $main-font;
 font-weight: 900;
 font-size:xx-large;
}
@mixin grid-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (600px, 1fr));   
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
    nav {
        display: flex;
        justify-content: space-around;
        background-color: $orange;
        padding: 20px;
        div {
            a{
            img{
                width: 100px;
                height: 100px;
            }
           }
          }
        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            a{
                padding: 20px;
                text-decoration: none;
                align-content: center;
                li{
                    @include font-style();
                    color: $yellow;
                }
            }
        }
    }
}
#menu {
    @include grid-menu; 
    padding: 50px;
    background-color: $yellow;
.menu-layout{
    .layout-titulo{
        padding: 80px;
        div {
            h1 {
                @include font-style();
                color: $orange;
            }
            h2 {
                @include font-style();
                color: $orange;
            }
            h3 {
                @include font-style();
                color: $blue;
            }
            .fa-solid {
              font-size: 50px;
              color: $primary-green;
            }
        }
    }
    .layout-box {
        @include grid-layout;
      .box{
        padding: 50px;
        div {
        @include flex-column();
        button {
            outline: none;
            border: none;
            border-radius: 15px;
            color: $yellow;
            background-color: $orange;
            font-family: $main-font;
            font-weight: 1000;
            font-size: larger;
            padding: 10px;
        }
        h2 {
            @include font-style();
            color: $orange;
        }
        h3 {
            @include font-style();
            color: $blue;
        }
        .fa-solid {
            font-size: 50px;
            color: $primary-green;
        }
        }
      } 
    }
    .layout-titulo{    
    @include flex-column()     
    }
  }
}

#licores {
    @include grid-menu; 
    padding: 50px;
    background-color: $secondary-green;
.licores-layout{
    .layout-titulo-licores{
        @include flex-column();
        padding: 80px;
        div {
            h1 {
                @include font-style();
                color: $orange;
            }
            h2 {
                @include font-style();
                color: $orange;
            }
            h3 {
                @include font-style();
                color: $blue;
            }
            .fa-solid {
              font-size: 50px;
              color: $orange;
            }
        }
    }
    .layout-box-licores {
        @include grid-layout;
      .box-licores{
        padding: 50px;
        div {
        @include flex-column();
        button {
            outline: none;
            border: none;
            border-radius: 15px;
            color: $yellow;
            background-color: $orange;
            font-family: $main-font;
            font-weight: 1000;
            font-size: larger;
            padding: 10px;
        }
        h2 {
            @include font-style();
            color: $orange;
        }
        h3 {
            @include font-style();
            color: $blue;
        }
        .fa-solid {
            font-size: 50px;
            color: $orange;
        }
        }
      } 
    }
  }
}
#nosotros{
    @include grid-menu();
    background-color: $primary-green;
    padding: 30px;
    .nosotros-card {
        @include flex-column();
        padding: 30px;
        align-items: center;
        background-color:#fefb6497;
        border-radius: 30px;
        h2{
            @include font-style();
            color: $yellow;
            padding: 10px;
        }
        p {
            @include font-style();
            color: $blue;
            padding: 10px; 
        }
    }
    .nosotros-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
        row-gap: 10px;
            img{
                width: 900px;
                border-radius: 20px;
            }
        
        iframe {
            width: 400px;
            height: 500px;
            border-radius: 20px; 
        }
    }
}

footer {
   display: flex;
   justify-content: space-around;
   padding: 20px;
   background-color: $secondary-green;
   .gusta-bistro {
    @include flex-column();
    padding: 50px;
    img {
        width: 100px;
        
    }
    p{
        font-style: $main-font;
        font-size: large;
        font-weight: 900;
        color: $orange;
        padding:20px;
    }
   } 
   .redes-credito{
    @include flex-column();
    justify-content: space-around;
    div{
        display: flex;
        justify-content: space-between;
        .fa-brands{
            font-size: 50px;
            padding: 20px;
            color: $orange;
        }
    }
   }
}